@use "./globals/variables" as *;
@use "./globals/breakpoints" as *;

.hero {
  position: relative;
  height: 55vw;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  overflow: hidden;
  background: url("./../images/desktop/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    color: $white;
    font-size: clamp(2rem, 5vw, 3rem);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    margin-top: 3.5rem;
  }

  @include screensize($tablet) {
    gap: 2rem;
    &__title {
      margin-top: 1.5rem;
    }
  }

  @include screensize($mobile) {
    background: url("./../images/mobile/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 2rem;
    gap: 3rem;
    height: 80vh;

    &__title {
      font-size: clamp(2rem, 10vw, 6rem);
      margin-top: 2.5rem;
    }
  }
}
