@use "./globals/variables" as *;
@use "./globals/breakpoints" as *;

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;

  .container {
    width: 100%;
    // height: 36rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .text-container {
      width: 60%;

      --line-clr: var(--yellow-clr);

      &.red-underline {
        --line-clr: var(--soft-red-clr);
      }

      h2 {
        color: $sec-head-clr;
        font-size: clamp(1.5rem, 8vw, 2.5rem);
      }

      p {
        padding-block: 2rem;
        color: $sub-sec-head-clr;
        line-height: 1.5;
        font-size: 1.05rem;
      }

      a {
        color: $sec-head-clr;
        font-family: $ff-fr;
        text-transform: uppercase;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 110%;
          height: 50%;
          background-color: var(--line-clr);
          z-index: -1;
          bottom: -15%;
          left: -5%;
          border-radius: 2rem;
          opacity: 0.3;
          transition: all 0.5s;
        }

        &:hover {
          &::before {
            opacity: 1;
          }
        }
      }
    }

    &:nth-child(5) {
      --clr: var(--grph-txt-clr);
    }

    &:last-child {
      --clr: var(--pht-txt-clr);
    }
  }

  .container-footer {
    position: relative;

    .text-content {
      position: absolute;
      bottom: 15%;
      text-align: center;
      width: 48%;
      margin-inline: auto;

      h3 {
        color: var(--clr);
        font-size: 1.5rem;
      }

      p {
        color: var(--clr);
        margin-top: 1rem;
        line-height: 1.5;
      }
    }
  }

  @include screensize($tablet) {
    .container {
      .text-container {
        h2 {
          font-size: clamp(0.5rem, 8vw, 1.4rem);
        }
        p {
          padding-block: 1rem;
        }
      }
    }
  }

  @include screensize($mobile) {
    grid-template-columns: 1fr;

    .container {
      &:nth-child(2) {
        order: -1;
      }

      .text-container {
        text-align: center;
        padding-block: 4rem;
        width: 80%;

        h2 {
          font-size: clamp(1rem, 8vw, 2.5rem);
        }

        p {
          padding-block: 2.5rem;
        }
      }
    }

    .container-footer {
      .text-content {
        width: 90%;
      }
    }
  }
}
